<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 対象となる.NET Coreのバージョン。これより古い場合は起動させない。 -->
    <add key="targetDotNetCoreVersion" value="9.0.0" />
    <!-- .NET Coreのインストール用ページのURL。古いバージョンを使用している場合はこちらを表示してインストールを誘導する。 -->
    <add key="dotNetInstallUrl" value="https://dotnet.microsoft.com/en-us/download/dotnet/9.0" />
  </appSettings>
</configuration>